<%- include('partials/header') %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Recipe for some delicious food</h1>
      <p>View Our Delicious Food Recipe From All Over The World</p>
      <p>
      <a class="btn btn-primary btn-large" href="/food/new">Add New Food Recipe</a>
     </p>
   </div>
</header>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
     <% food.forEach(function(food){ %>
       <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
        <img src="<%= food.image %>">
           <div class="caption">
              <h5><%= food.name %></h5>
           </div>
         </div>
        </div>
     <% }); %>
      </div>
</div>
<%- include('partials/footer') %>