body {
    background-color: #000;
  }

  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }

  #landing-header h1 {
    color: #fff;
  }

  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }


  .slideshow li:nth-child(1) { 
    background-image: url(https://static3.bigstockphoto.com/3/2/2/large1500/223191748.jpg)  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://c8.alamy.com/comp/D2GK9B/hot-delicious-chicken-biryani-D2GK9B.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://wallpapercave.com/wp/wc1813154.jpg);
         animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://static.asianetnews.com/images/01d7v32trpgnee6wrycek5r70b/breakfast_710x400xt.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://hdwallsource.com/img/2019/4/fast-food-burgers-wallpaper-68908-71254-hd-wallpapers.jpg);
    animation-delay: 40s; 
  }


  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}