/* .loginSignup {
    background-image: url(https://cdn.wallpapersafari.com/93/10/zXn0Ri.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
 */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}